label{
    margin-bottom:.5rem;
    font-size:16px;
}
.form-container{
    background-color:rgb(231, 229, 229);
    width:40%;
    align-items:center;
    justify-content:center;
    border-radius: 15px;
    margin: 30px auto; 
}
.form-container h2{
    text-align:center;
    padding-top:45px;
}
.form-container hr{
    width:62%;
    margin-left: 100px;
    border: 1px solid;
}
form{
    
    display:flex;
    flex-direction:column;
    padding:4rem 1rem;
    margin: auto;
    max-width: 600px;
}




/* adding btn style */

.btn-container-1{
    transform: translate(-50%, -50%);
    text-align: center;
    
 }
 .btn-btn2{
    border:none;
    margin-top: 80px;
    margin-left: 250px;
    padding: 20px;
    width: 510px;
    text-transform: uppercase;
    border-radius:6px;
    cursor: pointer;
    font-size: 20px;
    color:#fff;
    background-size: 200%;
    transition: 0.6s;
 }
 
 .new-btn-form{
    background-image: linear-gradient(to left,#FFC312, #ee5a24, #ffc312);
 }
 .btn-btn2:hover{
    background-position: center;
 }
  /* btn style stopped */
 

form input, form textarea{
    margin-bottom:1rem;
    padding:10px 18px;
    font-size: 1.2rem;
    background-color:rgb(235, 234, 234);
    border-color:rgb(32, 28, 28);
    border-radius:10px;
    color:#0c0c0c;
}