@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background:black;
}
h1,a,h4,p{
  color:#ffff;

}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
  
}



.btn{
  padding: 12px 32px;
  font-size:1rem;
  border: none;
  text-transform:uppercase;
  background-image: linear-gradient(to left,#FFC312, #ee5a24, #ffc312);  color:black;
  border-radius:10px;
  font-weight:600;
  cursor: pointer;

}
.btn-light{
  background:transparent;
  color:#fff;
}
.btn:hover{
  background-image: linear-gradient(to left,#FFC312, #ee5a24, #ffc312);
  color:#f5e7e7;
  transition:0.2s;
}